.ibm{display:inline-block; width:50%; border:solid 1px darkgray ; text-align:center;
    box-sizing:border-box; margin:3px -5px 3px -3px; }
.ibm{background-color:powderblue}
h3{text-align:center;}
body{background-color:DarkSlateGrey}
.ol1{display:inline-block; width:20%; border:solid 22px powderblue; text-align:center;
    box-sizing:border-box; margin:50px 85px 85px 85px }
.ol1{background-color:powderblue}
table{width: 100%;
    background:DarkSlateGrey;
    color: white;
    border-spacing: 1px; }
.o1{width:10%;background:#df691a;text-align: center!important;
    padding: 20px;}
.o2{width:10%;background:#5bc0de;text-align: center!important;
    padding: 20px;}
.o3{width:10%;background:#5cb85c;text-align: center!important;
    padding: 20px;}
.o4{width:10%;background:#d9534f;text-align: center!important;
    padding: 20px;}
.o5{width:10%;background:red;text-align: center!important;
    padding: 20px;}
.o6{width:10%;background:green;text-align: center!important;
    padding: 20px;}
.ol2{background:DarkSlateGrey;text-align: center!important;
    padding:20px;}
.sp1{background:DarkSlateGrey;text-decoration-color: powderblue;text-align:center;
    padding:20px;font-size:200%;}
.sp12{background:lightgrey;text-decoration-color: powderblue;text-align:center;
    padding:20px;font-size:200%;}
.sp2{background:DarkSlateGrey;text-decoration-color: powderblue;text-align:left;
    padding:20px;font-size:150%;}
.sp3{background:DarkSlateGrey;text-decoration-color: powderblue;text-align:left;
    padding:10px;font-size:100%;}
.o9{text-align:center;}
